// breakpoints

$small-mobile-max: 480px;

$mobile-max: 768px;

$tablet-min: 769px;
$tablet-max: 1215px;

$widescreen-min: 1216px;
$widescreen-max: 1407;

$fullhd-min: 1408;

// colors
$color-primary: #1890ff;
$color-secondary: #34e5ff;
